<head>

  <title>your_pwa_title</title>

  <!-- Basic declarations and Meta descriptions -->
  <meta charset="utf-8">
  <link rel="icon" href="{{ url_for('static', filename='images/icon-96.png') }}">
  <meta name="viewport"    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="your_pwa_description">
   	
   <script src="{{url_for('static', filename='main.js')}}"></script>

  <!-- Web app manifest -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

  

</head>

<body>
<h2>yoyo</h2>
</body>